/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map{
height: 60ch;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}
.mapaRedondo,
#map{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
    