html,body{
    width: 100%;
    height: 100%;
}
#map_teste{
    height:530px;
    border-radius:.50rem;
}
.add_tipo.focus, .add_tipo:focus{
    box-shadow: 0 0 0 0.2rem rgba(27, 255, 0, 0.25);
}
.none{
    display: none;
}
.botoes{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.formulario{
    position: relative;
    box-sizing: border-box;
}
.preto{
    background-color: #343a40;
    color: white;
}
.label_popup{
    width: 41px;
}
.input-load{
    background-image: url('../../../img/6.gif');
    background-color: #ebebe4;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 21px;
}
.blokeia{
    position: absolute;
    width: 98%;
    height: 100%;
    background-color: #f5f5f5a1;
    z-index: 3;
    cursor: not-allowed;
    left: 2%;
}